
.hero_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  max-content;
    margin-top: 10px;
  

}

.myNav{
    text-align: center;
    color: white;
    font-size: 1.8rem;
}

#container{
    height: max-content;
    width: 50%;
    background-color: rgb(102, 102, 238);
    color: white;
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  
}

#viewb{
    width: 50%;
    
    color: white;
    padding: 15px;
    padding-right: 15px;
}

#viewb h1, h2{
    font-size: 20px;
    font-weight: lighter;
  line-height: 1.5;
}

#h1{
    
    font-weight: 900;
    font-size: 36px;
    color: yellow;

}

.img_container{
    width: 40%;
}
#image{
    height: 60px;
    width: 60px;
}
#btn{
    width: 206px ;
}
