#view{
    height: 300px;
    width: 65%;
    background-color: rgb(102, 102, 238);
    color: white;
    text-align: left;
    padding: 15px;
}

#view h1, h2{
    font-size: 24px;
    font-weight: lighter;
  line-height: 1.5;
}

#h1{
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: yellow;

}